.main {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  background-color: rgb(248, 229, 245);
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row1l {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.row1l h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.row1l img {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  align-self: center;
}

.row1r {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-around;
}

.row1r img {
  height: 27px;
  width: 27px;
}

.row1r button {
  background-color: rgb(188, 240, 229);
  height: 30px;
  width: 80px;
  border: 1px rgb(221, 71, 209) solid;
  border-radius: 10px;
  padding: 0px;
}

.row1r select {
  background-color: rgb(188, 240, 229);
  height: 30px;
  width: 80px;
  border: 1px rgb(221, 71, 209) solid;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  font-size: 13pt;
  font-weight: 700;
  color: rgb(221, 71, 209);
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row2 p {
  margin-bottom: 0px;
}

.date {
  margin-right: 18px;
  align-self: center;
}

.author {
  font-size: 15pt;
  font-weight: 400;
}
